USE [master]
GO
/****** Object:  Database [Students]    Script Date: 4/14/2021 7:10:42 AM ******/
CREATE DATABASE [Students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Students', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Students.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Students_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Students_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Students]
GO
/****** Object:  Table [dbo].[MonThi]    Script Date: 4/14/2021 7:10:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonThi](
	[ID] [int] NULL,
	[TenMonThi] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinSinhVien]    Script Date: 4/14/2021 7:10:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSinhVien](
	[ID] [int] NULL,
	[FullName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO


insert into ThongTinSinhVien values (1812829,N'Nguyễn Hồng Phượng')
insert into ThongTinSinhVien values (1812843,N'Đặng Ngọc Thạch')
insert into ThongTinSinhVien values (1812824,N'Vũ Đình Phúc')

insert into MonThi values (0, N'Lập trình mạng')
insert into MonThi values (1, N'Gap')
